[data-theme='agsm'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-primary-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: var(--color-secondary-500);
	--heading-font-color-dark: var(--color-primary-400);
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-secondary-700);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-primary-50);
	--body-background-color-dark: var(--color-primary-950);
	--color-primary-50: oklch(93.47% 0.02 88.69deg);
	--color-primary-100: oklch(92.33% 0.05 94.95deg);
	--color-primary-200: oklch(91.21% 0.08 97.34deg);
	--color-primary-300: oklch(90.44% 0.11 98.76deg);
	--color-primary-400: oklch(89.48% 0.13 99.33deg);
	--color-primary-500: oklch(88.68% 0.15 99.17deg);
	--color-primary-600: oklch(77.02% 0.13 98.45deg);
	--color-primary-700: oklch(64.9% 0.1 97.28deg);
	--color-primary-800: oklch(52.3% 0.07 93.86deg);
	--color-primary-900: oklch(38.79% 0.05 87.08deg);
	--color-primary-950: oklch(24.04% 0.02 39.27deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(77.28% 0.04 104.28deg);
	--color-secondary-100: oklch(75.24% 0.05 120.22deg);
	--color-secondary-200: oklch(73.5% 0.06 131.66deg);
	--color-secondary-300: oklch(71.51% 0.08 138.92deg);
	--color-secondary-400: oklch(69.92% 0.09 143.59deg);
	--color-secondary-500: oklch(68.15% 0.1 146.26deg);
	--color-secondary-600: oklch(62.83% 0.09 146.09deg);
	--color-secondary-700: oklch(57.34% 0.08 146.34deg);
	--color-secondary-800: oklch(52.02% 0.08 145.45deg);
	--color-secondary-900: oklch(46.24% 0.07 145.66deg);
	--color-secondary-950: oklch(40.35% 0.06 145.2deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(59.34% 0.03 145.1deg);
	--color-tertiary-100: oklch(57.31% 0.03 145.08deg);
	--color-tertiary-200: oklch(55.25% 0.03 145.06deg);
	--color-tertiary-300: oklch(53.18% 0.04 145.03deg);
	--color-tertiary-400: oklch(51.09% 0.04 145.01deg);
	--color-tertiary-500: oklch(48.97% 0.04 144.98deg);
	--color-tertiary-600: oklch(47.49% 0.03 143.37deg);
	--color-tertiary-700: oklch(45.8% 0.03 136.67deg);
	--color-tertiary-800: oklch(44.31% 0.02 132.09deg);
	--color-tertiary-900: oklch(42.62% 0.02 116.24deg);
	--color-tertiary-950: oklch(41.12% 0.01 101.09deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.05% 0.09 178.66deg);
	--color-success-100: oklch(91.34% 0.08 178.63deg);
	--color-success-200: oklch(88.62% 0.08 178.59deg);
	--color-success-300: oklch(85.68% 0.07 178.15deg);
	--color-success-400: oklch(82.92% 0.07 178.05deg);
	--color-success-500: oklch(80.13% 0.06 177.93deg);
	--color-success-600: oklch(70.31% 0.06 179.02deg);
	--color-success-700: oklch(60.43% 0.06 180.51deg);
	--color-success-800: oklch(49.81% 0.05 182.11deg);
	--color-success-900: oklch(39.03% 0.05 183.82deg);
	--color-success-950: oklch(27.27% 0.04 185.29deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(95.62% 0.01 106.45deg);
	--color-surface-200: oklch(91.03% 0.02 102.78deg);
	--color-surface-300: oklch(86.56% 0.03 104.43deg);
	--color-surface-400: oklch(81.86% 0.03 103.16deg);
	--color-surface-500: oklch(77.28% 0.04 104.28deg);
	--color-surface-600: oklch(67.62% 0.04 99.74deg);
	--color-surface-700: oklch(57.51% 0.03 94.92deg);
	--color-surface-800: oklch(47.23% 0.02 88.79deg);
	--color-surface-900: oklch(36.05% 0.02 74.1deg);
	--color-surface-950: oklch(24.04% 0.02 39.27deg);
	--color-surface-contrast-dark: var(--color-primary-950);
	--color-surface-contrast-light: var(--color-primary-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
